


section.galeriaclasica ul {width: 360px; max-height:360px; top: 80px ; left:40px;}
section.galeriaclasica .shortdesc {vertical-align: top; top: 0px; padding: 0 20px;  overflow: hidden;width:calc(40% - 40px); margin-right: 40px;text-align: center;}
section.galeriaclasica .shortdesc h2 {text-align: center; margin-top: 80px; font-size:24pt;font-weight:400;letter-spacing: 2px}
section.galeriaclasica .shortdesc article {border-top: 1px solid #3A92A6; border-bottom: 1px solid #3A92A6; padding: 20px 0; font-size: 16px;}

    
    section.galeriaclasica .rslides li {max-width:360px;max-height: 360px;min-width: 360px; min-height: 360px;}
    section.galeriaclasica .rslides img {width: 360px;}
    section.homepage .rslides li {width: 100%;}
    section.homepage .rslides img {width:100%; }
    section.tagline {margin-top:560px;}
        section.homepage .rslides li {width: 100%;}
    section.homepage .rslides img {width:100%}



section.desroses .rslides li{width: 100%}
section.desroses .rslides img{width:100%} 
section.rosas {background-color: #fff; min-height: 480px; height: auto; width: 100%;text-align: center; margin-top: 540px;}
section.rosas ul {width: 90%;height: auto; margin: 0 auto; display: block; position: relative;min-height: 480px}
section.rosas li {width: 30%; height: auto; min-height: 240px; margin: 0; display: inline-block; vertical-align: top;}
section.rosas .shortdesc p {text-align: center;padding: 10px;}
section.rosas .imagenrosa {max-width: 320px; max-height: 320px; min-height: 210px; display: block; margin: 0; padding: 0; background-size: 70%; background-position: center; background-repeat: no-repeat}
section.rosas li h2 {font-size: 16pt; font-weight: 400; text-align: center; text-transform: lowercase;}


	
.box {
    display: inline-block;
    margin: 0 10px 20px 10px;
    text-align: center;}

.box a.image {
    background-position: center center;
    background-size: cover;
    height: 60px;
    width: 60px;
}

.box a {
    color: #1a1919;
    display: block;
    font-family: "Playfair Display",sans-serif;
    opacity: 1;
    text-decoration: none;}
    
    
.otrascolecciones {
    margin: 0px auto;
    display: block;
    padding: 20px;
    cursor: pointer;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 12pt;
}
    
.otrascolecciones:hover {background-color: #3A92A6; color: #fff;}

section.atelier .rslides li {width: 100%;}
section.atelier .rslides img {width: 100%;}
section.tagline {margin-top: 480px;}


    
    



@media screen and (min-width: 240px) and (max-width: 1024px) {
    
section.galeriaclasica {width: 100% !important; min-height: 520px; margin: 20px auto 0; position: relative;}
section.galeriaclasica .shortdesc {width: 90%; padding-bottom: 40px; top: 0; margin: 0 auto;}
section.galeriaclasica .shortdesc article {padding: 15px 0;}
section.galeriaclasica .shortdesc h2 {margin-top: 20px; font-size: 18pt;}


section.galeria {width: 90%; position: relative; margin-top: 0px; min-height: 580px;}
section.galeria .shortdesc {width: 90%; margin-top: 0;}
section.galeria .shortdesc h2 {margin-top: 40px; font-size: 18pt;}
section.galeria .shortdesc article {font-size: 16px; padding: 15px 0;}
section.galeria .thumbportada {height: 220px;width: 220px;min-height: 220px;min-width: 220px; left: 0; float: none !important; display: block;}

section.galeriaclasica ul{ width: 220px; max-width: 220px;
    max-height: 220px;
    min-width: 240px;
    min-height: 240px; top: 0; left: 0; float: none !important;}
section.galeriaclasica .rslides li {    max-width: 240px;
    max-height: 240px;
    min-width: 220px;
    min-height: 220px;}
section.galeriaclasica .rslides img {width: 240px;
}

    section.rosas {margin-top: 240px;}
	section.rosas ul li{min-height: 180px;}
	section.rosas .imagenrosa{min-height: 100px;}
	section.rosas li h2 {font-size: 12pt;}
	
	
	

	#mySwipe {width: 100%; max-height: 540px;}
	.botones {width: 100%; bottom: 40px; left: 0;}

	
	span.fa-close {position: fixed; right: 20px;z-index: 99999;}
	
	

	.menu_mobile.act {margin-top: -3px; height: calc(100vh - 95px);}
    .menu_mobile ul li {text-transform: lowercase;font-size: 10pt; margin: 5px; display: block;}
    .redes-sociales  { top: auto; bottom: 40px; right: auto;}
	a#menu {display: block; font-size: 16pt}
	.principal {display: none;}
	.logo {margin: 0 auto; max-width: 180px;}
	header {max-height: 60px; width: 100%;}
	.logo {text-align: center;}
	.logo img {max-height: 60px;width: auto;}
	#home {padding-top: 60px; width: 100%;}
	
	section.destacada {width: 100%; min-height:240px;}
	section.destacada .thumbportada {width: 100%; max-height: 640px;min-height: 480px;position: relative; min-height: 240px;}
	section.destacada .shortdesc h2 {font-size: 12pt; padding: 0}
	section.destacada .shortdesc {   top: 80px;width: 85%;margin: 0; position: relative;padding: 10px 10px 40px;}
	
	   
	img.alignnone {width: 90% !important; height: auto !important;}
	section.tagline {margin-top:240px; padding-top: 20px}
	section.tagline h1 {font-size: 18pt;}
	section.tagline .shortdesc {width: 70%;padding: 20px 0}
	img.alignnone {width: 90% !important; height: auto !important;}
	section.tagline .shortdesc h2 {font-size: 12pt}
	.rslides {width: calc(95% - 40px); margin: 0 auto;}
	section.partners {min-height: 210px; top: 0}
	section.partners .redes {margin: 20px auto 40px}
	section.partners h1 {text-align: center; margin-bottom: 40px;}
	section.partners .redes .fl{width: 100%; display: block}
	section.partners .redes .fr {width: 100%; display: block;}
	section.partners .shortdesc {width: 90%; padding-top: 40px}
	section.partners .shortdesc h2 {font-size: 14pt;}
	#mc_embed_signup {width: 80%;}
    footer { z-index: 88888;}
    footer span.pedidos {display: block;width: 70%;height: 40px; font-size: 18pt; }
    footer .copyright {display: none;}
	section.partners .servicios {padding-top: 0; margin: 0 auto}
	.ultimoslide {margin-bottom: 20px;}
	header .desk {display:none}
	header .mob{display: block;  width: calc(80% - 40px)}
	section.partners .servicios .beneficios {margin-top: 40px }
	section.partners .servicios .columna {width: 80%; display: block; margin: 40px auto}
	section.partners .servicios .powered {margin: 60px auto 20px}
	section.partners .servicios .powered .fr {display: block; margin: 0 auto; width: 100%;}
	section.partners .servicios .powered .fl {display: block; margin: 0 auto; width: 100%;}
	section.partners img {margin-right: 0;margin-bottom: 40px;}
	#mc_embed_signup h2 {padding: 0 0 40px;}
	.ultimoslide {margin-bottom: 0 !important}
	.clasica {column-count: 1;}
	.fr {float: none !important;}

}




@media screen and (min-width: 721px) and (max-width: 1130px)  {
    section.tagline {margin-top:540px;}
 section.galeriaclasica {width: 100%;}
 section.galeriaclasica .fl {float: none !important;}
 section.galeriaclasica ul {top: 40px; left: auto; width: 360px; height: 360px; max-height: 360px;}
section.galeriaclasica .rslides li {width: 360px;height: 360px;min-height: 360px;}
section.galeriaclasica .rslides img {width: 360px;}
 section.galeriaclasica .shortdesc {width: 480px; margin: 80px auto;}
 section.rosas ul li{min-height: 140px;}
section.rosas .imagenrosa{min-height: 160px;}

section.galeria {width: 100% !important; min-height: 840px !important; margin: 20px auto !important;}
section.galeria .thumbportada {left: 0 !important; top: 40px;}
section.galeria .shortdesc {margin: 20px auto;}

.botones {width: calc(90% - 10%); left: 10%;}

    
}

@media only screen  and (min-device-height: 1024px)  and (max-device-height: 1366px)  and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 1.5) {
    
    section.galeria .shortdesc h2 {font-size: 24pt;}
    section.galeria {min-height: 960px; width: calc(100% - 320px); margin:10% auto;}
    .botones {bottom: 0; width: calc(90% - 10%); left: 10%;}
    #mySwipe {max-height: 1040px;}
    
    .framepersonalizacion iframe {min-height: 1340px;}
    section.galeria .thumbportada {width: 480px; min-height: 480px; height: 480px; left: 0; }
    section.galeria .shortdesc {width: 480px; float: none !important; margin: 40px auto; padding: 0; }
    section.galeria .shortdesc article {padding: 40px 0;}
    img.alignnone {max-width:320px; margin: 0 auto;display: block;}
    section.margentip {margin-top: 480px !important;}
    
    section.galeriaclasica {width:100%; }
    section.galeriaclasica ul {left: 0; float: none !important;}
    section.galeriaclasica .shortdesc {width: 80%; float: none !important;  display: block; position: relative; margin: 80px auto;}
    section.galeriaclasica .rslides li{width:480px; height: 480px; min-height:480px;}
     
}


@media screen and (min-width: 1728px) {

    #home {width: calc(100% - 320px); margin-left: 320px; display: block;}
    section.galeria {width: 60%; position: relative;}
 
}
