/*

Theme Name: Rose Atelier
Description: Plataforma digital
Theme URI: http://roseatelier.mx
Author: Buen-Día
Version: 3.1

*/

/* CSS Resets */


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	padding: 0
}
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
	display: block
}
a img {	border: 0}
figure {position: relative}
figure img {width: 100%}
ol, ul { list-style: none; margin: 0;}
ul.children { margin-left: 15px;}
ul.children li:last-child {padding: 0 0 0 0 !important;}
a, a:hover { text-decoration: none; }
a, .nav li a {
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	color: #333;
}


p {line-height: 1.5; font-weight: 300; text-align: justify;}

.fl {float: left !important;}
.fr {float:right !important;}

html { margin: 0 !important;}
body {
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
	margin: 0;
}


/*  HEADER */
	
header {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	margin: 0 auto;
 	width: 320px;
 	height: 100%;
	z-index: 1000;
	background: #fff;
	border-bottom: 1px solid #eee;
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	-ms-transition: 600ms;
	transition: 600ms;
}

header #menu {cursor: pointer; left: 10px; top: 10px; position: fixed; display: none;}
header .copyright {font-size: 10pt; position: absolute; display: block; bottom: 20px; left: 40px; text-align: center; background-color: #fff;}
header h1 { text-align: left; font-size: 12pt; position: absolute; left: 40px; line-height: 2; width: 360px; }


.logo { display: block; width: 320px; height: auto; margin-top: 20px; margin-left: 20px; max-width: 270px; }
.logo img {width: 100%; height: auto;}

header .act {height: 320px;
-webkit-transition: 600ms;
-moz-transition: 600ms;
-o-transition: 600ms;
-ms-transition: 600ms;
transition: 600ms;
}

.icon-bars:before { content: "\f0c9";}
.icon-bars {color: #000;height: 20px; width: 20px; display: block; left: 0; top: 0; padding: 20px; position: absolute}
.menu_mobile {
	display: none;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	left: 0;
	visibility: hidden;
	padding-bottom: 20px;
	opacity: 0;
	position: relative;
	height: auto;
	min-height:320px;
	padding-top: 20px;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	background: #f0f0f0;
}
.menu_mobile.act {
	margin-top: 20px;
	opacity: 1;
	visibility: visible !important;
	display:block;
	height: 100%;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
}

.menu_mobile ul {width: 50%; text-align: left; display: block; margin-top: 0px;}
.menu_mobile ul li {margin: 10%;display: inline-block; text-transform: uppercase; letter-spacing: 5px; font-size: 8pt; padding: 10px 0}
.menu_mobile ul li a:hover {border-bottom: 2px solid #f5b6a1;}

header .mob {display: none;}


/*  MENÚ */

.principal { display: block; position: absolute; top: 80px; left: 40px; line-height: 2; width: auto; height: 100%; }
.principal ul { width: 100%; display: block; position: relative; text-transform: lowercase; color: #333; text-align: left; padding-top: 80px;  }
.principal ul li { margin: 7px; width: auto; font-size: 12pt; display: block; font-weight: 500; }
.principal ul li a:hover {border-bottom: 2px solid #f5b6a1; font-weight: 600;}

span.pedidos {    border-top: 1px solid #3A92A6; margin: 20px auto; display: block; border-bottom: 1px solid #3A92A6;padding: 15px; cursor: pointer; font-weight: 400;text-transform: lowercase; margin-top: 40px; font-size: 12pt;}
span.pedidos:hover {background: #3A92A6; color: #fff;}
	
		
		
.redes-sociales {width: 240px; display: block; right: 0px; top: 40px; margin: 0 0 0 120px; position:absolute;}
.redes-sociales .fa {float: none; margin: 0 10px}
.redes-sociales a{margin: 10px; font-size: 10pt;}



/********
  Slides
*********/
.rslides {
position: relative;
list-style: none;
overflow: hidden;
width: calc(90% - 40px);
padding: 0;
margin: 0 auto;
border: 20px solid #fff;
top: 30px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 480px;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 480px;
  border: 0;
  }



/* LAYOUT */
#home {padding-top: 0; width: calc(100% - 320px); float: right;height: auto; min-height: 100vh; background: #f9f9f9;}
 

section.destacada {width: calc(100% - 320px); display: block; position: fixed; margin: 0 auto; min-height: 720px; height: auto;z-index: 0;}
section.destacada .thumbportada {
    width: 50%;
    min-width: 360px;
    display: block;
    background-size: cover;
    min-height: 360px;
    height: 50%;
    border: 10px solid #fff;
    margin: 0 auto;
    top: 20px;
    position: relative;
    overflow-y: hidden;
    background-position: center;
    background-repeat: no-repeat;   
}

section.destacada .shortdesc {
    width: 70%;
    display: block;
    text-align: center;
    border-top: 1px solid #3A92A6;
    border-bottom: 1px solid #3A92A6;
    position: relative;
	margin: 0 auto 80px;
	top: 80px;
}

section.destacada .shortdesc h1 {font-size: 24pt;font-weight: 500; line-height: 1.5; }
section.destacada .shortdesc h2 {font-size: 16pt;padding: 0 40px 0px; font-weight: 500; line-height: 1.5; }
section.destacada .shortdesc p {font-size: 12pt; line-height: 1.5;padding: 0;}

section.nosotros {width: 90%; display: block; position: fixed; margin: 0 auto; min-height: 720px; height: auto;z-index: 0;}
section.nosotros h2 {text-align: center; margin-top: 80px; letter-spacing: 2px; text-transform: uppercase}

section.nosotros .shortdesc {
    width: 70%;
    display: block;
    text-align: center;
    border-top: 1px solid #3A92A6;
    border-bottom: 1px solid #3A92A6;
    position: relative;
	margin: 0 auto 80px;
	top: 20px;
	
	}


section.galeria{width: 75%; display: block; position: fixed; margin: 4% auto; min-height: 720px; height: auto;z-index: 0;}
section.galeria .thumbportada {
    width: 360px;
    display: block;
    background-size: cover;
    height: 360px;
    border: 10px solid #fff;
    margin: 0 auto;
    top: 20px;
    left:calc(100% - 80px);
    position: relative;
    overflow-y: hidden;
	min-width: 360px;
	min-height: 360px;
    background-position: center;
    background-repeat: no-repeat;
}

section.galeria .shortdesc {vertical-align: top; margin-top: 0px; padding: 0 20px;  overflow: hidden;width:40%; text-align: center; }
section.galeria .shortdesc h2 {text-align: center; margin-top: 80px; font-size:24pt;font-weight:400;letter-spacing: 2px}
section.galeria .shortdesc article {
    border-top: 1px solid #3A92A6;
    border-bottom: 1px solid #3A92A6; padding: 40px 0;}


/* Colecciones */

.margentop {margin-top: 55% !important}
section.tagline {position: relative; display: block; width: 100%; min-height: 360px; background: #f9f9f9; margin-top: 70%; height: 100%; z-index: 1;padding-top: 20px}
section.tagline h1 {font-size: 24pt;font-weight: 500; line-height: 1.5; text-align: center; padding-top: 20px; text-transform: lowercase;}
section.tagline .shortdesc {
    width: 70%; display: block;
    text-align: center; 
    border-top: 1px solid #3A92A6;
    border-bottom: 1px solid #3A92A6;
    position: relative;
    margin: 0 auto 80px; top: 20px; }
section.tagline .shortdesc h2 {font-size: 16pt;padding: 0 40px 0px; font-weight: 500; line-height: 1.5; }
section.tagline .shortdesc p {margin:0; line-height: 2;text-align: left;}






section.partners {position: relative; display: block; width: 100%; min-height: 240px; margin: 0; padding: 0; background: #f9f9f9; z-index: 0; text-align: center;}
section.partners h1  {font-size: 24pt;font-weight: 500; line-height: 1.5; text-align: right; margin: 0; text-transform: lowercase;}
section.partners img {max-width: 120px; width: auto; height: auto;display: inline-block; margin-right: 40px;}
section.partners .servicios {width: 80%; display: inline-block; margin: 0 auto 40px;}

section.partners .servicios .beneficios {position: relative; display: block; margin: 0 auto 40px;}
section.partners .servicios .powered {position: relative; display: block; width: 70%;margin: 60px auto }
section.partners .servicios .columna {display: inline-block; width: 25%; margin: 20px; text-align: center; vertical-align: top;}
section.partners .servicios .columna .fa {font-size: 24pt; display: block; text-align: center; margin-bottom: 20px;}
section.partners .servicios .columna p {margin: 0; font-size: 10pt; text-align: center;}
section.partners span.pedidos {display: inline-block;text-align: center; text-transform: lowercase;  font-weight: 400;font-size: 16pt; padding: 20px; margin: 0 auto; position: relative; border: 1px solid #333;}

section.partners .shortdesc {
    width: 70%;
    display: block;
    text-align: center;
    border-top: 1px solid #3A92A6;
    border-bottom: 1px solid #3A92A6;
    position: relative;
	margin: 0 auto 80px;
	top: 20px;
}

section.partners .shortdesc h2 {font-size: 16pt;padding: 20px 0; display: block; margin: 0 auto; font-weight: 500; line-height: 1.5; width: 70%; text-transform: lowercase;}


section.partners .redes {width: 70%; display: inline-block; margin: 60px auto 40px;}
section.partners .redes .fl {width: 30%;}
section.partners .redes .fr {width: 60%;}
section.partners .redes .fa {font-size: 18pt; margin-right: 20px; margin-bottom: 20px;}
section.partners .redes a {display: block;}
section.partners .redes a:hover {color: #f5b6a1; }
section.partners .redes span:hover {color: #f5b6a1;}

.clasica {vertical-align: top; top: 20px; padding: 40px 20px; column-count: 2; column-gap: 40px; overflow: hidden;width:calc(83% - 40px)}
.nude {border-color: #f5b6a1; float: left; left: 80px; right: inherit}



footer { background: #cfc1c3; width: 100%; height: 40px; bottom: 0; position: relative; }

footer span.pedidos {
    background: #fff;
    width: 320px;
    height: 60px;
    left: 10px;
    color: #000;
    font-size: 24pt;
    padding: 20px;
    text-align: center;
    position: absolute;
    display: none;
    bottom: 0;
	cursor: pointer;
	border-top: 5px solid #333;
	border-right: 5px solid #333;
	border-left: 5px solid #333;
}

footer span.pedidos:hover {background: #f5b6a1; }
footer .copyright {float: right; font-size: 8pt; color: #333; padding-top: 10px; padding-right: 20px; }

footer a {color: #333;}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* The Close Button */
.close {color: #333; float: right; font-size: 24pt; padding: 0 10px 0; background: #f5b6a1; font-weight: bold;}
.close:hover,
.close:focus { color: #000; text-decoration: none; cursor: pointer; }


/********
  SWIPE
*********/


/* Swipe 2 required styles */

#mySwipe {width: 90%; max-height: 720px; margin: 0 auto; display: block }
.swipe { overflow: hidden; visibility: hidden; position: relative; }
.swipe-wrap { overflow: hidden; position: relative; min-height: 720px; }
.swipe-wrap > div { float:left; width:100%; position: relative; }

/* END required styles */


#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}



/***********
  SESIONES
************/

.botones {display: block;cursor: pointer; position: absolute; bottom: 220px; width: 40%; text-align: center; left: 15%; }

.left {width: 48%; display: inline; float: left; position: relative;  color:#000;  border: 1px solid #3A92A6; }
.left:hover {border-width: 2px;}
.right {width: 48%; display: inline; float: right; position: relative; color:#000;  border: 1px solid #3A92A6; }
.right:hover {border-width: 2px;}


.ultimoslide {margin-bottom: 70% !important}


input {    
	height: 20px;
    border: 0;
    border-bottom: 1px solid #333;
    background: transparent;
	margin-bottom: 20px;
	width: 100%;
}

.mc-field-group {text-align: left;}
#mce-BIRTHDAY-month {width: 40px}
#mce-BIRTHDAY-day {width: 40px}
input[type="submit" i] {background: #333; width: 120px; height: 40px; text-transform: uppercase; color: #fff;margin-top: 40px;}
#mc_embed_signup {padding: 0 0 40px; width: 50%; display: block; margin: 0 auto;}
#mc_embed_signup h2 {    font-size: 16pt;
	text-transform: lowercase;
    padding: 0 40px 0px;
    font-weight: 500;
    line-height: 1.5;}
select {height: 20px; border: 1px solid #333; margin-bottom: 20px}


span.fa-close {
	float: right;
    margin: 20px;
    position: fixed;
    font-size: 16pt;
    right: 40px;
    z-index: 8888;}